In [78]:
# import dependicies
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import pymysql
pymysql.install_as_MySQLdb()

Importing and reading in all CSV files

In [79]:
# create file paths for the colony CSVs
quarter_one = "Resources/bee_colonies_2015/hcny_p01_t005.csv"
quarter_two = "Resources/bee_colonies_2015/hcny_p02_t001.csv"
quarter_three = "Resources/bee_colonies_2015/hcny_p03_t007.csv"
quarter_four = "Resources/bee_colonies_2015/hcny_p04_t008.csv"
honey_3 = "Resources/honey_2015/hony_p03_t003.csv"

In [80]:
# create a file path for honey CSV
honey_3 = "Resources/honey_2015/hony_p03_t003.csv"

In [81]:
# create file path for pesticide CSVs
file1 = "Resources/AgrPesticideUse_2014-2015/2015.csv"
file2 = "Resources/AgrPesticideUse_2014-2015/dictionary.csv"

In [82]:
# Read in the CSVs, ignore the first 9 rows, do not identify a header and name the columns
q1 = pd.read_csv(quarter_one, skiprows=9, header=None, names =['aaa', 'bbb', 'State', 'Number of Colonies', 'Max Colonies', 'Lost Colonies', 'Percent lost', 'Added', 'Renovated', 'Percent Renovated'])
q2 = pd.read_csv(quarter_two, skiprows=9, header=None, names =['aaa', 'bbb', 'State', 'Number of Colonies', 'Max Colonies', 'Lost Colonies', 'Percent lost', 'Added', 'Renovated', 'Percent Renovated'])
q3 = pd.read_csv(quarter_three, skiprows=9, header=None, names =['aaa', 'bbb', 'State', 'Number of Colonies', 'Max Colonies', 'Lost Colonies', 'Percent lost', 'Added', 'Renovated', 'Percent Renovated'])
q4 = pd.read_csv(quarter_four, skiprows=9, header=None, names =['aaa', 'bbb', 'State', 'Number of Colonies', 'Max Colonies', 'Lost Colonies', 'Percent lost', 'Added', 'Renovated', 'Percent Renovated'])

In [83]:
# Read in csv for honey ignore the first 9 rows, do not identify a header and name the columns
version_3 = pd.read_csv(honey_3, skiprows=9, header=None, names =['aaa', 'bbb','State', 'Number of Colonies', 'Yield Per Colony (1,000 lbs)', 'Production (1,000 lbs)', 'Stocks', 'Price', 'Value'])

In [84]:
# Read in pesticide files
pests = pd.read_csv(file1)
state_codes = pd.read_csv(file2)

In [85]:
# Rename columns in honey dataframe
honey_3_df = version_3[["State", "Yield Per Colony (1,000 lbs)", "Production (1,000 lbs)"]]

Rename and merge colony data

In [86]:
# Clean up df 1
q1_df = q1[["State", "Number of Colonies", "Lost Colonies", "Added", "Renovated"]]

In [87]:
# Clean up df 2
q2_df = q2[["State", "Number of Colonies", "Lost Colonies", "Added", "Renovated"]]

In [88]:
# Clean up df 3
q3_df = q3[["State", "Number of Colonies", "Lost Colonies", "Added", "Renovated"]]

In [89]:
# Clean up df 4
q4_df = q4[["State", "Number of Colonies", "Lost Colonies", "Added", "Renovated"]]

In [90]:
# Merge quarter one and two on state
q1_q2 = pd.merge(q1_df, q2_df, on="State", suffixes=("_q_one", "_q_two"))

In [91]:
# Set missing values to numberic and fill with 0
q1_q2['Renovated_q_one'] = q1_q2['Renovated_q_one'].apply(pd.to_numeric, errors='coerce')
q1_q2 = q1_q2.fillna(0)

In [92]:
# Preform calculations to add q1 and q2 totals (added, lost & renovated)
lost = q1_q2["Lost Colonies_q_one"] + q1_q2["Lost Colonies_q_two"]
q1_q2["Lost"]=lost
added = q1_q2["Added_q_one"] + q1_q2["Added_q_two"]
q1_q2["Added"]=added
reno = q1_q2["Renovated_q_one"] + q1_q2["Renovated_q_two"]
q1_q2["Renovated"]=reno

In [93]:
# Delete unneeded columns
del q1_q2['Lost Colonies_q_one']
del q1_q2['Renovated_q_two']
del q1_q2['Renovated_q_one']
del q1_q2['Lost Colonies_q_two']
del q1_q2['Added_q_one']
del q1_q2['Added_q_two']
del q1_q2['Number of Colonies_q_two']

In [94]:
# Merge quarters one & two with three on state
q1_q3 = pd.merge(q1_q2, q3_df, on="State")

In [95]:
# Set missing values to numberic and fill with 0
q1_q3['Renovated_y'] = q1_q3['Renovated_y'].apply(pd.to_numeric, errors='coerce')
q1_q3 = q1_q3.fillna(0)

In [96]:
# Preform calculations to add q1 and q2 totals (added, lost & renovated)
lost = q1_q3["Lost"] + q1_q3["Lost Colonies"]
q1_q3["Lost"]=lost
added = q1_q3["Added_x"] + q1_q3["Added_y"]
q1_q3["Added"]=added
reno = q1_q3["Renovated_x"] + q1_q3["Renovated_y"]
q1_q3["Renovated"]=reno

In [97]:
# Delete unneeded columns
del q1_q3['Lost Colonies']
del q1_q3['Renovated_x']
del q1_q3['Renovated_y']
del q1_q3['Added_x']
del q1_q3['Added_y']
del q1_q3['Number of Colonies']

In [98]:
# Merge quarters one, two & three with four on state
q1_q4 = pd.merge(q1_q3, q4_df, on="State", suffixes=("_1", "_4"))

In [99]:
# Set missing values to numberic and fill with 0
q1_q4['Renovated_4'] = q1_q4['Renovated_4'].apply(pd.to_numeric, errors='coerce')
q1_q4 = q1_q4.fillna(0)

In [100]:
# Set missing values to numberic and fill with 0
q1_q4['Added_4'] = q1_q4['Added_4'].apply(pd.to_numeric, errors='coerce')
q1_q4 = q1_q4.fillna(0)

In [101]:
# Preform calculations to add q1 and q2 totals (added, lost & renovated)
lost = q1_q4["Lost"] + q1_q4["Lost Colonies"]
q1_q4["Lost_Total"]=lost
added = q1_q4["Added_1"] + q1_q4["Added_4"]
q1_q4["Added_Total"]=added
reno = q1_q4["Renovated_1"] + q1_q4["Renovated_4"]
q1_q4["Renovated_Total"]=reno

Organize the colony dataframe

In [102]:
# Rename and organize dataframe columns
state = q1_q4["State"]
start = q1_q4["Number of Colonies_q_one"]
end = q1_q4["Number of Colonies"]
added = q1_q4["Added_Total"]
lost = q1_q4["Lost_Total"]
renovated = q1_q4["Renovated_Total"]
total_2015 = pd.DataFrame({"state":state, "start_colonies":start, "end_colonies":end, "added_colonies":added, "lost_colonies":lost, "renovated_colonies":renovated})

In [103]:
total_2015["state"] = total_2015["state"].replace({
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
})

In [104]:
# Set dataframe index to state
total_2015=total_2015.set_index("state")

In [105]:
# Drop the bottom 5 rows of the dataframe
total_2015.drop(total_2015.index[45:], inplace=True)

In [106]:
# Calculate the change in number of colonies from Jan. to Dec. and put that info into a column
change = total_2015["end_colonies"]-total_2015["start_colonies"]
total_2015["colony_change"]=change

In [107]:
# Reorganize the dataframe
total_2015 = total_2015[["start_colonies", "end_colonies", "colony_change", "added_colonies", "lost_colonies", "renovated_colonies"]]

Honey Prodution Data Clean-up

In [108]:
# Name the columns in the dataframe
state = honey_3_df["State"]
Yield = honey_3_df["Yield Per Colony (1,000 lbs)"]
Production  = honey_3_df["Production (1,000 lbs)"]
honey_3_2015 = pd.DataFrame({"state":state, "colony_yield": Yield, "production": Production})

In [109]:
# Rename the state column
honey_3_2015["state"] = honey_3_2015["state"].replace({
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
})

In [110]:
# Set the index to state
honey_3_2015=honey_3_2015.set_index("state")

In [111]:
# Drop the bottom 5 rows
honey_3_2015.drop(honey_3_2015.index[43:], inplace=True)

Merge the colony and honey dataframes

In [112]:
# Merge colony and honey dataframes
bees = pd.merge(total_2015, honey_3_2015, on="state")
bees.head()

,start_colonies,end_colonies,colony_change,added_colonies,lost_colonies,renovated_colonies,colony_yield,production
state,,,,,,,,
AL,7000.0,8000.0,1000.0,4940.0,4670.0,1250.0,47.0,329.0
AZ,35000.0,36000.0,1000.0,30200.0,28100.0,40600.0,49.0,1274.0
AR,13000.0,23000.0,10000.0,15100.0,14800.0,5800.0,72.0,1728.0
CA,1440000.0,750000.0,-690000.0,499000.0,584000.0,577000.0,30.0,8250.0
CO,3500.0,24000.0,20500.0,11000.0,10400.0,5040.0,51.0,1479.0

Clean up the pesticide dataframe

In [113]:
# Clean up dataframes
pests = pests[["COMPOUND","STATE_CODE","LOW_ESTIMATE","HIGH_ESTIMATE"]]
states = state_codes[["STATE_CODE","STATE"]]
states = states.drop_duplicates(subset='STATE', keep="first").reset_index(drop=True)

# Merge dataframes
pesticides = pd.merge(states, pests, on="STATE_CODE")
pesticides.reset_index()
pesticides.head()

   STATE_CODE STATE COMPOUND  LOW_ESTIMATE  HIGH_ESTIMATE
0           1    AL    2,4-D        3243.5         3363.2
1           1    AL    2,4-D        2178.0         3435.9
2           1    AL    2,4-D        5650.9         5825.6
3           1    AL    2,4-D         949.7          957.6
4           1    AL    2,4-D        9507.1         9591.2

In [114]:
# Create lists to populate new df (leaving only neonic pesticides, which have been linked to CCD)
# Neonicotinoid (Neonic) Pesticides: Acetamiprid, Clothianidin, Imidacloprid, Nitenpyram, Nithiazine, Thiacloprid, Thiamethoxam

state = []
compound = []
low_estimate = []
high_estimate = []

for row in pesticides.itertuples():
    if row.COMPOUND == "Acetamiprid" or row.COMPOUND == "Clothianidin" or row.COMPOUND ==  "Imidacloprid" \
        or row.COMPOUND == "Nitenpyram" or row.COMPOUND ==  "Nithiazine" or row.COMPOUND == "Thiacloprid" \
        or row.COMPOUND == "Thiamethoxam":
            state.append(row.STATE)
            compound.append(row.COMPOUND)
            low_estimate.append(row.LOW_ESTIMATE)
            high_estimate.append(row.HIGH_ESTIMATE)

In [37]:
# Combine into new dataframe
neo_pests = pd.DataFrame({"state":state, 
                               "Compound": compound, 
                               "Low_Estimate": low_estimate, 
                               "High_Estimate": high_estimate})

# group by state and aggregate usage estimates as averages
neo_pests_grp = neo_pests.groupby(["state","Compound"]).sum()
neo_pests_grp.head(5)

                    Low_Estimate  High_Estimate
state Compound
AL    Clothianidin          56.2           56.2
      Imidacloprid        6739.0        10920.2
      Thiamethoxam         118.7         1101.1
AR    Acetamiprid            0.0          747.9
      Clothianidin           0.0         1070.5

Create the engine connection and append the dataframes to the tables.

In [43]:
engine = create_engine("mysql://root:qazplm@localhost:3306/honeybees")

In [44]:
engine.table_names()

['bees_data', 'pesticides']

In [45]:
bees.to_sql(name='bees_data', con=engine, if_exists='append', index=True)

In [46]:
neo_pests_grp.to_sql(name='pesticides', con=engine, if_exists='append', index=True)